
button{
    margin-left: 10%;
    margin-bottom: 2px;
    height: 30px;
    width: 84px;
    font-family: "黑体";
    font-size: 14px;
}

table{
    margin: 0px 10%;
    border-collapse: collapse;
    width: 80%;
}

td{
    border: 1px dimgray solid;
}

th{
    border: 1px dimgray solid;
    text-align: left;
    background-color: #bfa;
    color: darkblue;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


.id{
    width: 80px;
}

.operation{
    width: 80px;
}