<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g10.ssm.mapper.testdatabase.ChoiceQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.g10.ssm.po.testdatabase.ChoiceQuestion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="option_a" property="optionA" jdbcType="VARCHAR" />
    <result column="option_b" property="optionB" jdbcType="VARCHAR" />
    <result column="option_c" property="optionC" jdbcType="VARCHAR" />
    <result column="option_d" property="optionD" jdbcType="VARCHAR" />
    <result column="option_e" property="optionE" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, option_a, option_b, option_c, option_d, option_e
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.g10.ssm.po.testdatabase.ChoiceQuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Choice_Question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Choice_Question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Choice_Question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.g10.ssm.po.testdatabase.ChoiceQuestionExample" >
    delete from Choice_Question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.g10.ssm.po.testdatabase.ChoiceQuestion" >
    insert into Choice_Question (id, option_a, option_b, 
      option_c, option_d, option_e
      )
    values (#{id,jdbcType=INTEGER}, #{optionA,jdbcType=VARCHAR}, #{optionB,jdbcType=VARCHAR}, 
      #{optionC,jdbcType=VARCHAR}, #{optionD,jdbcType=VARCHAR}, #{optionE,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.g10.ssm.po.testdatabase.ChoiceQuestion" >
    insert into Choice_Question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="optionA != null" >
        option_a,
      </if>
      <if test="optionB != null" >
        option_b,
      </if>
      <if test="optionC != null" >
        option_c,
      </if>
      <if test="optionD != null" >
        option_d,
      </if>
      <if test="optionE != null" >
        option_e,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="optionA != null" >
        #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null" >
        #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null" >
        #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null" >
        #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="optionE != null" >
        #{optionE,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.g10.ssm.po.testdatabase.ChoiceQuestionExample" resultType="java.lang.Integer" >
    select count(*) from Choice_Question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Choice_Question
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.optionA != null" >
        option_a = #{record.optionA,jdbcType=VARCHAR},
      </if>
      <if test="record.optionB != null" >
        option_b = #{record.optionB,jdbcType=VARCHAR},
      </if>
      <if test="record.optionC != null" >
        option_c = #{record.optionC,jdbcType=VARCHAR},
      </if>
      <if test="record.optionD != null" >
        option_d = #{record.optionD,jdbcType=VARCHAR},
      </if>
      <if test="record.optionE != null" >
        option_e = #{record.optionE,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Choice_Question
    set id = #{record.id,jdbcType=INTEGER},
      option_a = #{record.optionA,jdbcType=VARCHAR},
      option_b = #{record.optionB,jdbcType=VARCHAR},
      option_c = #{record.optionC,jdbcType=VARCHAR},
      option_d = #{record.optionD,jdbcType=VARCHAR},
      option_e = #{record.optionE,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.g10.ssm.po.testdatabase.ChoiceQuestion" >
    update Choice_Question
    <set >
      <if test="optionA != null" >
        option_a = #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null" >
        option_b = #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null" >
        option_c = #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null" >
        option_d = #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="optionE != null" >
        option_e = #{optionE,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.g10.ssm.po.testdatabase.ChoiceQuestion" >
    update Choice_Question
    set option_a = #{optionA,jdbcType=VARCHAR},
      option_b = #{optionB,jdbcType=VARCHAR},
      option_c = #{optionC,jdbcType=VARCHAR},
      option_d = #{optionD,jdbcType=VARCHAR},
      option_e = #{optionE,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>