<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g10.ssm.mapper.testdatabase.ExamTypeWeightQueryMapper">
	<resultMap id="BaseResultMap" type="com.g10.ssm.po.testdatabase.ExamTypeWeightKey">
		<id column="weight_id" property="weightId" jdbcType="INTEGER" />
		<id column="test_items_design_id" property="testItemsDesignId"
			jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		weight_id, test_items_design_id
	</sql>
	<select id="selectAllExamTypeWeight" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Exam_Type_Weight
	</select>
</mapper>