<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g10.ssm.mapper.testdatabase.ExamQueryMapper">
	<resultMap id="BaseResultMap" type="com.g10.ssm.po.testdatabase.Exam">
		<id column="exam_id" property="examId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		exam_id, name
	</sql>
	<select id="selectAllExam" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Exam
	</select>
	<select id="selectExamByName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from Exam
		where name like CONCAT('%',#{0},'%')
	</select>

	<delete id="deleteExam" parameterType="java.util.ArrayList">
		delete from Exam where exam_id in
		<foreach item="examId" collection="array" open="(" separator=","
			close=")">
			#{examId,jdbcType=INTEGER}
		</foreach>
	</delete>

	<select id="checkExamName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from Exam
		where name = #{name,jdbcType=VARCHAR}
	</select>
</mapper>