<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.g10.ssm.mapper.testdatabase.StrategyQueryMapper">
	<resultMap id="BaseResultMap" type="com.g10.ssm.po.testdatabase.Strategy">
		<id column="strategy_id" jdbcType="INTEGER" property="strategyId" />
		<result column="strategy_name" jdbcType="VARCHAR" property="strategyName" />
		<result column="creater_id" jdbcType="VARCHAR" property="createrId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="full_score" jdbcType="INTEGER" property="fullScore" />
		<result column="pass_score" jdbcType="INTEGER" property="passScore" />
		<result column="purpose" jdbcType="VARCHAR" property="purpose" />
		<result column="status" jdbcType="BIT" property="status" />
	</resultMap>
	<sql id="Base_Column_List">
		strategy_id, strategy_name, creater_id, create_time,
		full_score, pass_score,
		purpose,
		status
	</sql>
	<select id="selectAllStrategy" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Strategy
	</select>

	<select id="selectStrategyByName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from Strategy
		where strategy_name like CONCAT('%',#{0},'%')
	</select>

	<select id="selectStrategyByNameAndStatus" resultMap="BaseResultMap"
		parameterType="com.g10.ssm.po.testdatabase.Strategy">
		select
		<include refid="Base_Column_List" />
		from Strategy
		where strategy_name like CONCAT('%',#{0},'%')
		and status =
		#{1}
	</select>
	<select id="selectId" resultType="java.lang.Integer">
		select
		max(strategy_id)
		from
		Strategy
	</select>
	<delete id="deleteStrategy" parameterType="java.util.ArrayList">
		delete from Strategy where strategy_id in
		<foreach item="strategyId" collection="array" open="("
			separator="," close=")">
			#{strategyId,jdbcType=INTEGER}
		</foreach>
	</delete>
</mapper>