<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g10.ssm.mapper.testdatabase.SubjectQueryMapper">
	<resultMap id="BaseResultMap" type="com.g10.ssm.po.testdatabase.Subject">
		<id column="subject_id" property="subjectId" jdbcType="INTEGER" />
		<result column="subject_type" property="subjectType" jdbcType="VARCHAR" />
		<result column="subject_pattern" property="subjectPattern"
			jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="answer" property="answer" jdbcType="VARCHAR" />
		<result column="knowlege_point" property="knowlegePoint"
			jdbcType="VARCHAR" />
		<result column="subject_matter" property="subjectMatter"
			jdbcType="VARCHAR" />
		<result column="test_database_matter" property="testDatabaseMatter"
			jdbcType="VARCHAR" />
		<result column="test_database_id" property="testDatabaseId"
			jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="review_type" property="reviewType" jdbcType="INTEGER" />
		<result column="review_message" property="reviewMessage"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		subject_id, subject_type, subject_pattern, content, answer,
		knowlege_point,
		subject_matter,
		test_database_matter, test_database_id,
		name, review_type, review_message
	</sql>
	<select id="selectAllSubject" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Subject
	</select>
	
	<select id="selectLastInsertId" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select subject_id from Subject
		where content = #{value}
	</select>
	
</mapper>
	