<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.g10.ssm.mapper.testdatabase.TestItemsDesignWeightInfoQueryMapper">
	<resultMap id="BaseResultMap"
		type="com.g10.ssm.po.testdatabase.TestItemsDesignWeightInfo">
		<id column="weight_id" jdbcType="INTEGER" property="weightId" />
		<result column="test_database_id" jdbcType="BIGINT" property="testDatabaseId" />
		<result column="number" jdbcType="INTEGER" property="number" />
	</resultMap>
	<sql id="Base_Column_List">
		weight_id, test_database_id, number
	</sql>
	<select id="selectAlllTestItemsDesignWeightInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Test_Items_Design_Weight_Info
	</select>
</mapper>