<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.g10.ssm.mapper.testdatabase.TestItemsDesignQueryMapper">
	<resultMap id="BaseResultMap" type="com.g10.ssm.po.testdatabase.TestItemsDesign">
		<id column="test_items_design_id" jdbcType="INTEGER" property="testItemsDesignId" />
		<result column="exam_type" jdbcType="VARCHAR" property="examType" />
		<result column="lowerlimit_difficulty_id" jdbcType="INTEGER"
			property="lowerlimitDifficultyId" />
		<result column="toplimit_difficulty_id" jdbcType="INTEGER"
			property="toplimitDifficultyId" />
		<result column="number" jdbcType="INTEGER" property="number" />
		<result column="score" jdbcType="INTEGER" property="score" />
		<result column="items_order" jdbcType="INTEGER" property="itemsOrder" />
	</resultMap>
	<sql id="Base_Column_List">
		test_items_design_id, exam_type, lowerlimit_difficulty_id,
		toplimit_difficulty_id,
		number, score, items_order
	</sql>
	<select id="selectAllTestItemsDesign" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Test_Items_Design
	</select>
	<select id="selectId" resultType="java.lang.Integer">
		select
		max(test_items_design_id) from Test_Items_Design
	</select>
</mapper>