<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g10.ssm.mapper.forum.PostCommentCustomMapper">
	<resultMap id="BaseResultMap" type="com.g10.ssm.po.forum.PostCommentCustom">
		<id column="post_comment_id" property="postCommentId" jdbcType="INTEGER" />
		<result column="post_id" property="postId" jdbcType="INTEGER" />
		<result column="publisher" property="publisher" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="review_type" property="reviewType" jdbcType="INTEGER" />
		<result column="review_message" property="reviewMessage"
			jdbcType="VARCHAR" />
	</resultMap>

	<sql id="query_comment_where">
		<if test="postId!=null">
			and post_id = #{postId}
		</if>
		<if test="postCommentId!=null">
			and post_comment_id = #{postCommentId}
		</if>
		<if test="publisher!=null">
			and publisher = #{publisher}
		</if>
		<if test="createTime!=null">
			and create_time = #{createTime}
		</if>
	</sql>

	<select id="selectByPostComment" parameterType="com.g10.ssm.po.forum.PostCommentCustom"
		resultMap="BaseResultMap">
		select * from Post_Comment
		<where>
			<include refid="query_comment_where" />
		</where>
	</select>
	
	<select id="countPostCommentByPostId" parameterType="int"
		resultType="int">
		select count(*) 
		from Post_Comment
		where post_id = #{value}
	</select>

</mapper>