<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g10.ssm.mapper.forum.PostCommentMapper" >
  <resultMap id="BaseResultMap" type="com.g10.ssm.po.forum.PostComment" >
    <id column="post_comment_id" property="postCommentId" jdbcType="INTEGER" />
    <result column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="publisher" property="publisher" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="review_type" property="reviewType" jdbcType="INTEGER" />
    <result column="review_message" property="reviewMessage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    post_comment_id, post_id, publisher, content, create_time, review_type, review_message
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.g10.ssm.po.forum.PostCommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Post_Comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Post_Comment
    where post_comment_id = #{postCommentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Post_Comment
    where post_comment_id = #{postCommentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.g10.ssm.po.forum.PostCommentExample" >
    delete from Post_Comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.g10.ssm.po.forum.PostComment" >
    insert into Post_Comment (post_comment_id, post_id, publisher, 
      content, create_time, review_type, 
      review_message)
    values (#{postCommentId,jdbcType=INTEGER}, #{postId,jdbcType=INTEGER}, #{publisher,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{reviewType,jdbcType=INTEGER}, 
      #{reviewMessage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.g10.ssm.po.forum.PostComment" >
    insert into Post_Comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postCommentId != null" >
        post_comment_id,
      </if>
      <if test="postId != null" >
        post_id,
      </if>
      <if test="publisher != null" >
        publisher,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="reviewType != null" >
        review_type,
      </if>
      <if test="reviewMessage != null" >
        review_message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postCommentId != null" >
        #{postCommentId,jdbcType=INTEGER},
      </if>
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="publisher != null" >
        #{publisher,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewType != null" >
        #{reviewType,jdbcType=INTEGER},
      </if>
      <if test="reviewMessage != null" >
        #{reviewMessage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.g10.ssm.po.forum.PostCommentExample" resultType="java.lang.Integer" >
    select count(*) from Post_Comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Post_Comment
    <set >
      <if test="record.postCommentId != null" >
        post_comment_id = #{record.postCommentId,jdbcType=INTEGER},
      </if>
      <if test="record.postId != null" >
        post_id = #{record.postId,jdbcType=INTEGER},
      </if>
      <if test="record.publisher != null" >
        publisher = #{record.publisher,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reviewType != null" >
        review_type = #{record.reviewType,jdbcType=INTEGER},
      </if>
      <if test="record.reviewMessage != null" >
        review_message = #{record.reviewMessage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Post_Comment
    set post_comment_id = #{record.postCommentId,jdbcType=INTEGER},
      post_id = #{record.postId,jdbcType=INTEGER},
      publisher = #{record.publisher,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      review_type = #{record.reviewType,jdbcType=INTEGER},
      review_message = #{record.reviewMessage,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.g10.ssm.po.forum.PostComment" >
    update Post_Comment
    <set >
      <if test="postId != null" >
        post_id = #{postId,jdbcType=INTEGER},
      </if>
      <if test="publisher != null" >
        publisher = #{publisher,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewType != null" >
        review_type = #{reviewType,jdbcType=INTEGER},
      </if>
      <if test="reviewMessage != null" >
        review_message = #{reviewMessage,jdbcType=VARCHAR},
      </if>
    </set>
    where post_comment_id = #{postCommentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.g10.ssm.po.forum.PostComment" >
    update Post_Comment
    set post_id = #{postId,jdbcType=INTEGER},
      publisher = #{publisher,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      review_type = #{reviewType,jdbcType=INTEGER},
      review_message = #{reviewMessage,jdbcType=VARCHAR}
    where post_comment_id = #{postCommentId,jdbcType=INTEGER}
  </update>
</mapper>