<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g10.ssm.mapper.forum.themeCustomMapper">

	<resultMap id="BaseResultMap" type="com.g10.ssm.po.forum.Theme">
		<id column="topic_id" property="topicId" jdbcType="INTEGER" />
		<result column="board_id" property="boardId" jdbcType="INTEGER" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="topic_name" property="topicName" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="is_top" property="isTop" jdbcType="BIT" />
		<result column="review_type" property="reviewType" jdbcType="INTEGER" />
		<result column="review_message" property="reviewMessage"
			jdbcType="VARCHAR" />
	</resultMap>

	<sql id="query_theme_where">
		<if test="themeCustom!=null">
			<if test="topicId!=null">
				and topicId = #{topicId}
			</if>
			<if test="creator!=null">
				and creator = #{creator}
			</if>
			<if test="topicName!=null">
				and topicName = #{topicName}
			</if>
			<if test="createTime!=null">
				and createTime = #{createTime}
			</if>
		</if>
	</sql>

	<select id="selectByTheme" parameterType="com.g10.ssm.po.forum.ThemeCustom"
		resultMap="BaseResultMap">
		select theme.* from theme
		<where>
			<include refid="query_theme_where" />
		</where>
	</select>
	
	<select id="selectByTopicName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from theme
		like '%${topicName}%'
	</select>

</mapper>