<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g10.ssm.mapper.LearningTaskCoursewareQueryMapper">
	<resultMap id="BaseResultMap" type="com.g10.ssm.po.LearningTaskCoursewareKey">
		<id column="learning_task_id" property="learningTaskId" jdbcType="INTEGER" />
		<id column="courseware_id" property="coursewareId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		learning_task_id, courseware_id
	</sql>
	<select id="selectAllLearningTaskCourseware" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Learning_Task_Courseware
	</select>
	<select id="selectCoursewareByLearningTaskId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from Learning_Task_Courseware
		where learning_task_id =
		#{learningTaskId,jdbcType=INTEGER}
	</select>
</mapper>