<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g10.ssm.mapper.UserPracticeQueryMapper">
	<resultMap id="BaseResultMap" type="com.g10.ssm.po.UserPracticeKey">
		<id column="user_name" property="userName" jdbcType="VARCHAR" />
		<id column="practice_id" property="practiceId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		user_name, practice_id
	</sql>
	<select id="selectAllUserPractice" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from User_Practice
	</select>
	<select id="selectAllPractice" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from User_Practice
		where user_name = #{userName,jdbcType=VARCHAR}
	</select>
</mapper>