<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g10.ssm.mapper.knowledge.CoursewareQueryMapper">
	<resultMap id="BaseResultMap" type="com.g10.ssm.po.knowledge.Courseware">
		<id column="courseware_id" property="coursewareId" jdbcType="INTEGER" />
		<result column="cwcf_id" property="cwcfId" jdbcType="INTEGER" />
		<result column="courseware_name" property="coursewareName"
			jdbcType="VARCHAR" />
		<result column="speaker_name" property="speakerName" jdbcType="VARCHAR" />
		<result column="speaker_info" property="speakerInfo" jdbcType="VARCHAR" />
		<result column="courseware_duration" property="coursewareDuration"
			jdbcType="REAL" />
		<result column="commend_level" property="commendLevel"
			jdbcType="INTEGER" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="cpurseware_type" property="cpursewareType"
			jdbcType="VARCHAR" />
		<result column="content_url" property="contentUrl" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		courseware_id, cwcf_id, courseware_name, speaker_name,
		speaker_info,
		courseware_duration,
		commend_level, description,
		cpurseware_type, content_url
	</sql>
	<select id="selectAllCourseware" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Courseware
	</select>
	<select id="selectByCategoryId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from Courseware
		where cwcf_id = #{cwcfId,jdbcType=INTEGER};
	</select>
	<select id="selectByName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from Courseware
		where courseware_name like CONCAT('%',#{0},'%')
	</select>

	<delete id="deleteCourseware" parameterType="java.util.ArrayList">
		delete from Courseware where courseware_id in
		<foreach item="coursewareId" collection="list" open="("
			separator="," close=")">
			#{coursewareId,jdbcType=INTEGER}
		</foreach>
	</delete>

</mapper>