<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g10.ssm.mapper.knowledge.KnowledgeCommentQueryMapper">
	<resultMap id="BaseResultMap" type="com.g10.ssm.po.knowledge.KnowledgeComment">
		<id column="comment_id" property="commentId" jdbcType="INTEGER" />
		<result column="knowledge_id" property="knowledgeId" jdbcType="INTEGER" />
		<result column="publisher" property="publisher" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="review_type" property="reviewType" jdbcType="INTEGER" />
		<result column="review_message" property="reviewMessage"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		comment_id, knowledge_id, publisher, content, create_date,
		review_type,
		review_message
	</sql>
	<select id="selectAllKnowledgeComment" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Knowledge_Comment
	</select>
</mapper>