<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g10.ssm.mapper.knowledge.RepositoryCategoryQueryMapper">
	<resultMap id="BaseResultMap"
		type="com.g10.ssm.po.knowledge.RepositoryCategoryExt">
		<id column="category_id" property="categoryId" jdbcType="INTEGER" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="display_order" property="displayOrder"
			jdbcType="VARCHAR" />
		<result column="note" property="note" jdbcType="VARCHAR" />
		<result column="review_type" property="reviewType" jdbcType="INTEGER" />
		<result column="review_message" property="reviewMessage"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		category_id, creator, name, parent_id, display_order, note,
		review_type,
		review_message
	</sql>
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from Repository_Category
		where category_id =
		#{categoryId,jdbcType=INTEGER}
	</select>

	<select id="selectAllRepositoryCategory" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Repository_Category
		where category_id > 1
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		category_id,name
		from
		Repository_Category
	</select>

	<select id="selectByName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from Repository_Category
		where name = #{name,jdbcType=VARCHAR}
	</select>

</mapper>