<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>远程教育考试平台_在线考试</title>
    <link rel="stylesheet" type="text/css" href="./test.css">
    <style type="text/css">
        .correct{
            background: green;
            color:#fff;
        }

        .incorrect{
            background: red;
            color:#fff;
        }

        [type=text]{
            width: 20em;
            margin-top: 8px;
        }

        [disabled]{
            border: 1px solid #DDD;
            background-color: white;
            color: black;
        }

        label{
            padding-top: 5px;
        }
        .correctAnswer{
            margin: 8px 0;
            font-weight: 700;
            font-size: 15px;
        }
    </style>
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="main">
    <!--nr start-->
    <div class="test_main">
        <div class="nr_left">
            <div class="test">
                <form action="" method="post">
                    <div class="test_content">
                        <div class="test_content_title">
                            <script type="text/javascript">
                                var radioQuestionNumber = 2;
                                var radioQuestionScore = 2;
                                document.getElementsByClassName("test_content_title")[0].innerHTML="<h2>单选题</h2>" +
                                    "<p>" +
                                    "<span>共</span>" +
                                    "<i class='content_lit'>"+radioQuestionNumber+"</i>" +
                                    "<span>题，</span>" +
                                    "<span>合计</span>" +
                                    "<i class='content_fs'>"+radioQuestionScore+"</i>" +
                                    "<span>分</span>" +
                                    "</p>";
                            </script>

                        </div>
                    </div>
                    <div class="test_content_nr">
                        <ul id="radio">
                            <script>
                                var frontQuestionNumber = 0;
                                var radioQuestionNumber = 2;
                                for(var i = frontQuestionNumber;i<radioQuestionNumber+frontQuestionNumber;i++) {//题目数量
                                    var questionTitle = "在生产管理信息系统中，下列操作步骤能正确将工单推进流程的是（  ）";
                                    var AOption = "A";
                                    var BOption = "B";
                                    var COption = "C";
                                    var DOption = "D";
                                    var correctAnswer = "A";
                                    var state = "true";
                                    var radio = document.getElementById("radio");
                                    radio.innerHTML = radio.innerHTML + "<li id='qu_" + (i + 1) + "' class='"+state+"'></li>";
                                    document.getElementById("qu_"+(i+1)+"").innerHTML= "<div class='test_content_nr_tt'>" +
                                        "<i>"+(i+1)+"</i><span>("+(radioQuestionScore/radioQuestionNumber)+"分)</span>"+questionTitle+"" +
                                        "</div>" +
                                        "<div class='test_content_nr_main'>" +
                                        "<ul>" +
                                        "<li class='option'>" +
                                        "<input type='radio' class='radioOrCheck' name='answer"+(i+1)+"' id='answer_"+(i+1)+"_option_1'/>" +
                                        "<label for='answer_"+(i+1)+"_option_1'>" +
                                        "A.&nbsp;" +
                                        "<p class='ue' style='display:inline '>"+AOption+"</p>" +
                                        "</label>" +
                                        "</li>" +
                                        "<li class='option'>" +
                                        "<input type='radio' class='radioOrCheck' name='answer"+(i+1)+"' id='answer_"+(i+1)+"_option_2'/>" +
                                        "<label for='answer_"+(i+1)+"_option_2'>" +
                                        "B.&nbsp;" +
                                        "<p class='ue' style='display:inline '>"+BOption+"</p>" +
                                        "</label>" +
                                        "</li>" +
                                        "<li class='option'>" +
                                        "<input type='radio' class='radioOrCheck' name='answer"+(i+1)+"' id='answer_"+(i+1)+"_option_3'/>" +
                                        "<label for='answer_"+(i+1)+"_option_3'>" +
                                        "C.&nbsp;" +
                                        "<p class='ue' style='display:inline '>"+COption+"</p>" +
                                        "</label>" +
                                        "</li>" +
                                        "<li class='option'>" +
                                        "<input type='radio' class='radioOrCheck' name='answer"+(i+1)+"' id='answer_"+(i+1)+"_option_4'/>" +
                                        "<label for='answer_"+(i+1)+"_option_4'>" +
                                        "D.&nbsp;" +
                                        "<p class='ue' style='display:inline '>"+DOption+"</p>" +
                                        "</label>" +
                                        "</li>" +
                                        "<li><div class='correctAnswer'>正确答案："+correctAnswer+"</div></li>" +
                                        "</ul>" +
                                        "</div>";
                                }
                            </script>
                        </ul>
                    </div>
                    <div class="test_content">
                        <div class="test_content_title">
                            <script type="text/javascript">
                                var checkboxQuestionNumber = 2;
                                var checkboxQuestionScore = 2;
                                document.getElementsByClassName("test_content_title")[1].innerHTML="<h2>多选题</h2>" +
                                    "<p>" +
                                    "<span>共</span>" +
                                    "<i class='content_lit'>"+checkboxQuestionNumber+"</i>" +
                                    "<span>题，</span>" +
                                    "<span>合计</span>" +
                                    "<i class='content_fs'>"+checkboxQuestionScore+"</i>" +
                                    "<span>分</span>" +
                                    "</p>";
                            </script>
                        </div>
                    </div>
                    <div class="test_content_nr">
                        <ul id="checkbox">
                            <script type="text/javascript">
                                frontQuestionNumber += checkboxQuestionNumber;
                                for(var i=radioQuestionNumber;i<radioQuestionNumber+checkboxQuestionNumber;i++){
                                    var questionTitle="在生产管理信息系统中，下列操作步骤能正确将工单推进流程的是（  ）";
                                    var AOption = "A";
                                    var BOption = "B";
                                    var COption = "C";
                                    var DOption = "D";
                                    var correctAnswer = "A,B,C";
                                    var state = "false";
                                    var checkbox = document.getElementById("checkbox");
                                    checkbox.innerHTML = checkbox.innerHTML + "<li id='qu_" + (i + 1) + "' class='"+state+"'></li>";
                                    document.getElementById("qu_"+(i+1)+"").innerHTML=
                                        "<div class='test_content_nr_tt'>" +
                                        "<i>"+(i+1)+"</i><span>("+(checkboxQuestionScore/checkboxQuestionNumber)+"分)</span>"+questionTitle+"" +
                                        "</div>" +
                                        "<div class='test_content_nr_main'>" +
                                        "<ul>" +
                                        "<li class='option'>" +
                                        "<input type='checkbox' class='radioOrCheck' name='answer"+(i+1)+"' id='answer_"+(i+1)+"_option_1'/>" +
                                        "<label for='answer_"+(i+1)+"_option_1'>" +
                                        "A.&nbsp;" +
                                        "<p class='ue' style='display:inline '>"+AOption+"</p>" +
                                        "</label>" +
                                        "</li>" +
                                        "<li class='option'>" +
                                        "<input type='checkbox' class='radioOrCheck' name='answer"+(i+1)+"' id='answer_"+(i+1)+"_option_2'/>" +
                                        "<label for='answer_"+(i+1)+"_option_2'>" +
                                        "B.&nbsp;" +
                                        "<p class='ue' style='display:inline '>"+BOption+"</p>" +
                                        "</label>" +
                                        "</li>" +
                                        "<li class='option'>" +
                                        "<input type='checkbox' class='radioOrCheck' name='answer"+(i+1)+"' id='answer_"+(i+1)+"_option_3'/>" +
                                        "<label for='answer_"+(i+1)+"_option_3'>" +
                                        "C.&nbsp;" +
                                        "<p class='ue' style='display:inline '>"+COption+"</p>" +
                                        "</label>" +
                                        "</li>" +
                                        "<li class='option'>" +
                                        "<input type='checkbox' class='radioOrCheck' name='answer"+(i+1)+"' id='answer_"+(i+1)+"_option_4'/>" +
                                        "<label for='answer_"+(i+1)+"_option_4'>" +
                                        "D.&nbsp;" +
                                        "<p class='ue' style='display:inline '>"+DOption+"</p>" +
                                        "</label>" +
                                        "</li>" +
                                        "<li><div class='correctAnswer'>正确答案："+correctAnswer+"</div></li>" +
                                        "</ul>" +
                                        "</div>";
                                }

                            </script>
                        </ul>
                    </div>
                    <div class="test_content">
                        <div class="test_content_title">
                            <script type="text/javascript">
                                var fillQuestionNumber = 2;
                                var fillQuestionScore = 2;
                                document.getElementsByClassName("test_content_title")[2].innerHTML="<h2>填空题</h2>" +
                                    "<p>" +
                                    "<span>共</span>" +
                                    "<i class='content_lit'>"+fillQuestionNumber+"</i>" +
                                    "<span>题，</span>" +
                                    "<span>合计</span>" +
                                    "<i class='content_fs'>"+fillQuestionScore+"</i>" +
                                    "<span>分</span>" +
                                    "</p>";
                            </script>
                        </div>
                    </div>
                    <div class="test_content_nr">
                        <ul id="fill">
                            <script type="text/javascript">
                                frontQuestionNumber += checkboxQuestionNumber;
                                var fillQuestionNumber = 2;
                                for(var i=frontQuestionNumber;i<frontQuestionNumber+fillQuestionNumber;i++){
                                    var fillNumber = 2;
                                    var state ="true";
                                    var questionTitle="以下属于南方电网员工职业操守中明文规定的有__________。";
                                    var fill = document.getElementById("fill");
                                    fill.innerHTML+="<li id='qu_" + (i + 1) + "' class='"+state+"'></li>";
                                    document.getElementById("qu_" + (i + 1) + "").innerHTML=
                                        "<div class='test_content_nr_tt'>" +
                                        "<i>"+(i+1)+"</i><span>("+(fillQuestionScore/fillQuestionNumber)+"分)</span>"+questionTitle+"" +
                                        "</div>" +
                                        "<div class='test_content_nr_main' id='fillMain"+(i+1)+"'>" +
                                        "</div>"
                                    ;
                                    for(var j=0;j<fillNumber;j++){
                                        var correctAnswer = "1111111111111111111";
                                        var fillMain = document.getElementById("fillMain"+(i+1)+"");
                                        fillMain.innerHTML += "<div id='answer_"+(i+1)+"_"+(j+1)+"'></div>"
                                        document.getElementById("answer_"+(i+1)+"_"+(j+1)+"").innerHTML=
                                            "<input type='text' class='radioOrCheck' name='answer"+(i+1)+"' " +
                                            "id='answer_"+(i+1)+"_"+(j+1)+"'/>" +
                                            "<br />"+
                                            "<div class='correctAnswer'>正确答案："+correctAnswer+"</div>"
                                        ;
                                    }
                                }
                            </script>
                        </ul>
                    </div>
                    <div class="test_content">
                        <div class="test_content_title">
                            <script type="text/javascript">
                                var judgmentQuestionNumber = 2;
                                var judgmentQuestionScore = 2;
                                document.getElementsByClassName("test_content_title")[3].innerHTML="<h2>判断题</h2>" +
                                    "<p>" +
                                    "<span>共</span>" +
                                    "<i class='content_lit'>"+judgmentQuestionNumber+"</i>" +
                                    "<span>题，</span>" +
                                    "<span>合计</span>" +
                                    "<i class='content_fs'>"+judgmentQuestionScore+"</i>" +
                                    "<span>分</span>" +
                                    "</p>";
                            </script>
                        </div>
                    </div>
                    <div class="test_content_nr">
                        <ul id="judgment">
                            <script type="text/javascript">
                                frontQuestionNumber += fillQuestionNumber;
                                var judgmentQuestionNumber = 2;
                                for(var i = frontQuestionNumber;i<frontQuestionNumber+judgmentQuestionNumber;i++) {
                                    var questionTitle = "在生产管理信息系统中，下列操作步骤能正确将工单推进流程的是（  ）";
                                    var AOption = "A";
                                    var BOption = "B";
                                    var correctAnswer = "A";
                                    var state = "true";
                                    var judgment = document.getElementById("judgment");
                                    judgment.innerHTML += "<li id='qu_" + (i + 1) + "' class='"+state+"'></li>";
                                    document.getElementById("qu_"+(i+1)+"").innerHTML =
                                        "<div class='test_content_nr_tt'>" +
                                        "<i>"+(i+1)+"</i><span>("+(judgmentQuestionScore/judgmentQuestionNumber)+"分)</span>"+questionTitle+"" +
                                        "</div>" +
                                        "<div class='test_content_nr_main'>" +
                                        "<ul>" +
                                        "<li class='option'>" +
                                        "<input type='checkbox' class='radioOrCheck' name='answer"+(i+1)+"' id='answer_"+(i+1)+"_option_1'/>" +
                                        "<label for='answer_"+(i+1)+"_option_1'>" +
                                        "A.&nbsp;" +
                                        "<p class='ue' style='display:inline '>"+AOption+"</p>" +
                                        "</label>" +
                                        "</li>" +
                                        "<li class='option'>" +
                                        "<input type='checkbox' class='radioOrCheck' name='answer"+(i+1)+"' id='answer_"+(i+1)+"_option_2'/>" +
                                        "<label for='answer_"+(i+1)+"_option_2'>" +
                                        "B.&nbsp;" +
                                        "<p class='ue' style='display:inline '>"+BOption+"</p>" +
                                        "</label>" +
                                        "</li>" +
                                        "<li><div class='correctAnswer'>正确答案："+correctAnswer+"</div></li>" +
                                        "</ul>" +
                                        "</div>";
                                }
                            </script>
                        </ul>
                    </div>
                    <div class="test_content">
                        <div class="test_content_title">
                            <script type="text/javascript">
                                var countQuestionNumber = 2;
                                var countQuestionScore = 2;
                                document.getElementsByClassName("test_content_title")[4].innerHTML="<h2>计算题</h2>" +
                                    "<p>" +
                                    "<span>共</span>" +
                                    "<i class='content_lit'>"+countQuestionNumber+"</i>" +
                                    "<span>题，</span>" +
                                    "<span>合计</span>" +
                                    "<i class='content_fs'>"+countQuestionScore+"</i>" +
                                    "<span>分</span>" +
                                    "</p>";
                            </script>
                        </div>
                    </div>
                    <div class="test_content_nr">
                        <ul id="count">
                            <script type="text/javascript">
                                frontQuestionNumber += judgmentQuestionNumber;
                                var countQuestionNumber = 2;
                                for(var i=frontQuestionNumber;i<frontQuestionNumber+countQuestionNumber;i++) {
                                    var countNumber = 2;
                                    var state = "false";
                                    var questionTitle = "以下属于南方电网员工职业操守中明文规定的有?";
                                    var count =document.getElementById("count");
                                    count.innerHTML += "<li id='qu_" + (i + 1) + "' class='"+state+"'></li>";
                                    document.getElementById("qu_" + (i + 1) + "").innerHTML=
                                        "<div class='test_content_nr_tt'>" +
                                        "<i>"+(i+1)+"</i><span>("+(countQuestionScore/countQuestionNumber)+"分)</span>"+questionTitle+"" +
                                        "</div>" +
                                        "<div class='test_content_nr_main' id='countMain"+(i+1)+"'>" +
                                        "</div>"
                                    ;
                                    for(var j=0;j<countNumber;j++){
                                        var correctAnswer = "1512";
                                        var countMain = document.getElementById("countMain"+(i+1)+"");
                                        countMain.innerHTML += "<div id='answer_"+(i+1)+"_"+(j+1)+"'></div>";
                                        document.getElementById("answer_"+(i+1)+"_"+(j+1)+"").innerHTML=
                                            "<input type='text' class='radioOrCheck' name='answer"+(i+1)+"' " +
                                            "id='answer_"+(i+1)+"_"+(j+1)+"'/>" +
                                            "<br />"+
                                            "<div class='correctAnswer'>正确答案："+correctAnswer+"</div>"
                                        ;
                                    }

                                }
                            </script>
                        </ul>
                    </div>
                    <div class="test_content">
                        <div class="test_content_title">
                            <script>
                                var shortAnswerQuestionNumber = 2;
                                var shortAnswerQuestionScore = 3;
                                document.getElementsByClassName("test_content_title")[5].innerHTML="<h2>简答题</h2>" +
                                    "<p>" +
                                    "<span>共</span>" +
                                    "<i class='content_lit'>"+shortAnswerQuestionNumber+"</i>" +
                                    "<span>题，</span>" +
                                    "<span>合计</span>" +
                                    "<i class='content_fs'>"+shortAnswerQuestionScore+"</i>" +
                                    "<span>分</span>" +
                                    "</p>";
                            </script>
                        </div>
                    </div>
                    <div class="test_content_nr">
                        <ul id="shortAnswer">
                            <script type="text/javascript">
                                frontQuestionNumber += countQuestionNumber;
                                var shortAnswerQuestionNumber = 2;
                                for(var i = frontQuestionNumber;i < frontQuestionNumber + shortAnswerQuestionNumber;i++){
                                    var state = "false";
                                    var questionTitle="以下属于南方电网员工职业操守中明文规定的有?";
                                    var correctAnswer = "吾问无为谓呜呜呜呜呜呜无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无无";
                                    var shortAnswer = document.getElementById("shortAnswer");
                                    shortAnswer.innerHTML += "<li id='qu_" + (i + 1) + "' class='"+state+"'></li>";
                                    document.getElementById("qu_" + (i + 1) + "").innerHTML =
                                        "<div class='test_content_nr_tt'>" +
                                        "<i>"+(i+1)+"</i><span>("+(shortAnswerQuestionScore/shortAnswerQuestionNumber)+"分)</span>"+questionTitle+"" +
                                        "</div>" +
                                        "<div class='test_content_nr_main'>" +
                                        "<textarea name='answer"+(i+1)+"' id='answer_"+(i+1)+"' cols='100%' rows='10' class='radioOrCheck'></textarea>" +
                                        "<div class='correctAnswer'>正确答案："+correctAnswer+"</div>"+
                                        "</div>"
                                    ;
                                }
                            </script>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <div class="nr_right">
            <div class="nr_rt_main">
                <div class="rt_nr1">
                    <div class="rt_nr1_title">
                        <h1>
                            <i class="icon iconfont">&#xe692;</i>答题卡
                        </h1>
                    </div>

                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <script>
                                document.getElementsByClassName("rt_content_tt")[0].innerHTML="<h2>单选题</h2>" +
                                    "<p>" +
                                    "<span>共</span>" +
                                    "<i class='content_lit'>"+radioQuestionNumber+"</i>" +
                                    "<span>题</span>" +
                                    "</p>";
                            </script>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul id="answerSheet1">
                                <script>
                                    var frontQuestionNumber = 0;
                                    for(var i=frontQuestionNumber;i<radioQuestionNumber+frontQuestionNumber;i++){
                                        var answerSheet1 = document.getElementById("answerSheet1");
                                        answerSheet1.innerHTML += "<li><a href='#qu_"+(i+1)+"' id='an_"+(i+1)+"'>"+ (i+1) +"</a></li>";
                                    }
                                </script>
                            </ul>
                        </div>
                    </div>

                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <script>
                                document.getElementsByClassName("rt_content_tt")[1].innerHTML="<h2>多选题</h2>" +
                                    "<p>" +
                                    "<span>共</span>" +
                                    "<i class='content_lit'>"+checkboxQuestionNumber+"</i>" +
                                    "<span>题</span>" +
                                    "</p>";
                            </script>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul id="answerSheet2">
                                <script>
                                    frontQuestionNumber += radioQuestionNumber;
                                    for(var i=frontQuestionNumber;i<checkboxQuestionNumber+frontQuestionNumber;i++){
                                        var answerSheet2 = document.getElementById("answerSheet2");
                                        answerSheet2.innerHTML += "<li><a href='#qu_"+(i+1)+"' id='an_"+(i+1)+"'>"+ (i+1) +"</a></li>";
                                    }
                                </script>
                            </ul>
                        </div>
                    </div>

                    <div class="rt_content">
                        <div class="rt_content_tt">

                            <script>
                                document.getElementsByClassName("rt_content_tt")[2].innerHTML="<h2>填空题</h2>" +
                                    "<p>" +
                                    "<span>共</span>" +
                                    "<i class='content_lit'>"+fillQuestionNumber+"</i>" +
                                    "<span>题</span>" +
                                    "</p>";
                            </script>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul id="answerSheet3">
                                <script>
                                    frontQuestionNumber += checkboxQuestionNumber;
                                    for(var i=frontQuestionNumber;i<fillQuestionNumber+frontQuestionNumber;i++){
                                        var answerSheet3 = document.getElementById("answerSheet3");
                                        answerSheet3.innerHTML += "<li><a href='#qu_"+(i+1)+"' id='an_"+(i+1)+"'>"+ (i+1) +"</a></li>";
                                    }
                                </script>
                            </ul>
                        </div>
                    </div>
                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <script>
                                document.getElementsByClassName("rt_content_tt")[3].innerHTML="<h2>判断题</h2>" +
                                    "<p>" +
                                    "<span>共</span>" +
                                    "<i class='content_lit'>"+judgmentQuestionNumber+"</i>" +
                                    "<span>题</span>" +
                                    "</p>";
                            </script>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul id="answerSheet4">
                                <script>
                                    frontQuestionNumber+=fillQuestionNumber;
                                    for(var i=frontQuestionNumber;i<judgmentQuestionNumber+frontQuestionNumber;i++){
                                        var answerSheet4 = document.getElementById("answerSheet4");
                                        answerSheet4.innerHTML += "<li><a href='#qu_"+(i+1)+"' id='an_"+(i+1)+"'>"+ (i+1) +"</a></li>";
                                    }
                                </script>
                            </ul>
                        </div>
                    </div>
                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <script>
                                document.getElementsByClassName("rt_content_tt")[4].innerHTML="<h2>计算题</h2>" +
                                    "<p>" +
                                    "<span>共</span>" +
                                    "<i class='content_lit'>"+fillQuestionNumber+"</i>" +
                                    "<span>题</span>" +
                                    "</p>";
                            </script>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul id="answerSheet5">
                                <script>
                                    frontQuestionNumber+=judgmentQuestionNumber;
                                    for(var i=frontQuestionNumber;i<countQuestionNumber+frontQuestionNumber;i++){
                                        var answerSheet5 = document.getElementById("answerSheet5");
                                        answerSheet5.innerHTML += "<li><a href='#qu_"+(i+1)+"' id='an_"+(i+1)+"'>"+ (i+1) +"</a></li>";
                                    }
                                </script>
                            </ul>
                        </div>
                    </div>
                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <script>
                                document.getElementsByClassName("rt_content_tt")[5].innerHTML="<h2>简答题</h2>" +
                                    "<p>" +
                                    "<span>共</span>" +
                                    "<i class='content_lit'>"+fillQuestionNumber+"</i>" +
                                    "<span>题</span>" +
                                    "</p>";
                            </script>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul id="answerSheet6">
                                <script>
                                    frontQuestionNumber+=countQuestionNumber;
                                    for(var i=frontQuestionNumber;i<shortAnswerQuestionNumber+frontQuestionNumber;i++){
                                        var answerSheet6 = document.getElementById("answerSheet6");
                                        answerSheet6.innerHTML += "<li><a href='#qu_"+(i+1)+"' id='an_"+(i+1)+"'>"+ (i+1) +"</a></li>";
                                    }
                                </script>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot"></div>
</div>
<script type="text/javascript">
    var classNum = document.getElementsByClassName("radioOrCheck");
    for(var i =0;i<classNum.length;i++){
        classNum[i].disabled= true;
    }
</script>
<script type="text/javascript">
    function addClass(obj, cls){
        var obj_class = obj.className,//获取 class 内容.
            blank = (obj_class != '') ? ' ' : '';//判断获取到的 class 是否为空, 如果不为空在前面加个'空格'.
        added = obj_class + blank + cls;//组合原来的 class 和需要添加的 class.
        obj.className = added;//替换原来的 class.
    }

    function correct() {
        frontQuestionNumber+=shortAnswerQuestionNumber;
        for (var i = 0; i <frontQuestionNumber; i++){
            var examId = document.getElementById("qu_"+(i+1)+"");
            var cardLi = document.getElementById("an_"+(i+1)+"");
            if (examId.className == "true") {
                addClass(cardLi,'correct');
            }
            else {
                addClass(cardLi,'incorrect');
            }
        }
    }
    window.onload=correct();
</script>
</body>
</html>