*{
    margin: 0;
    padding: 0;
}

table{
    border-bottom: 1px mediumpurple solid;
    font-family: "黑体";
}

td{
    height: 30px;
}

.header{
    width: 100%;
    height: 60px;
    background-color: rebeccapurple;
}

.title{
    display: inline-block;
    color:white;
    font-size: 30px;
    margin: 10px;
    font-family: "黑体";
}

.forumLogo{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.boardLogo{
    width: 60px;
    height: 60px;
}

.forumName{
    text-decoration: none;
    color: black;
    font-weight:bold;
}

.boardName:hover{
    text-decoration: underline;
}

.boardMaster{
    width: 120px;
    text-align: center;
    color: darkslategray;
    font-size: 14px;
    font-weight:bold;
}

.boardDescribe{
    font-size: 10px;
    color: grey;
}

table{
    border-collapse: collapse;
    width: 100%;
}